body {
	margin: 0;
	box-sizing: border-box;
	min-height: 100vh;
	background-color: #333;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: grid;
	place-content: center;
}

.main_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.product_header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_logo {
	width: 18%;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation-delay: 1s;
}

.product_text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product_name {
	font-size: 3rem;
	font-weight: bold;
	animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.product_slogan {
	font-size: 1.2rem;
	text-wrap: pretty;
}

.product_image {
	width: 500px;
	animation: swirl-in-fwd 0.8s ease-out both;
	animation-delay: 2s;
}

/* ANIMACIONES PARA LOS ELEMENTOS */

/* ANIMACIÓN PARA EL TITULO */
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

/* ANIMACIÓN PARA EL LOGO */

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


/* ANIMACION PARA LA IMAGEN */

@keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}
