body {
	margin: 0;
	box-sizing: border-box;
	min-height: 100vh;
	background-color: #333;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: grid;
	place-content: center;
}

.main_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.product_header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_logo {
	width: 20%;
}

.product_text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product_name {
	font-size: 3rem;
	font-weight: bold;
}

.product_slogan {
	font-size: 1.2rem;
	text-wrap: pretty;
}

.product_image {
	width: 500px;
}